@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
html {
  font-family: "VT323", monospace;
}

body {
  margin: 0px;
  height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
}

.horizontal {
  flex-direction: row;
}

.vertical {
  flex-direction: column;
}

.instructions-graphic {
  max-height: 100vh;
  max-width: 40vw;
  margin: 0px auto;
}

.instructions-content {
  justify-content: center;
  padding-right: 50px;
  max-width: 50%;
}

.center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.spinner {
  display: inline-block;
  width: 25px;
  vertical-align: middle;
}

.hidden {
  opacity: 0;
}

.instructions-input {
  padding: 0px 6px;
  max-width: 350px;
  font-size: 24px;
  font-family: "Open Sans";
  font-weight: 900;
  border: none;
  background-color: rgba(0, 0, 0, 0.05);
}

#one-time-code {
  min-width: 100px;
  width: 100%;
  letter-spacing: 12px;
}

.input-error {
  border: 1px solid #a30;
}

.error-msg {
  color: #a30;
}

.designer-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: rgba(248,246, 229);
}

.designer-preview {
  min-width: 200px;
  min-height: 200px;
  width: 70%;
  height: 70%;
  background-color: white;
  margin: auto;
  resize: both;
  border: 1px solid black;
  /* box-shadow: 4px 6px 20px rgba(0, 0, 0, 0.25); */
  box-shadow: 4px 6px 0px rgba(0,0,0,0.2);
  user-select: none;
  border-radius: 2px;
}

.btn {
  margin: 5px;
  white-space: nowrap;
  text-decoration: none;
  font: inherit;
  font-size: 18px;
  border: none;
  color: white;
  background-color: black;
  box-shadow: 2.5px 2.5px 0px rgba(0,0,0,0.5);
  padding: 1px 3px;
  border-radius: 2px;
}

.btn:hover {
  transform: translate(1px, 1px);
  box-shadow: 1.5px 1.5px 0px rgba(0,0,0,0.5);
}

.btn:active {
  transform: translate(1.5px, 1.5px);
  box-shadow: 1px 1px 0px rgba(0,0,0,0.5);
}

.light-bg {
  background-color: white;
  color: #000;
  border: 0.1px solid black;
}

.light-bg:hover {
  color: #222;
}

.warn {
    background-color: #dd5555;
}

.live-btn {
  animation: glowing 3000ms 1;
}

@keyframes glowing {
  0% {
    background-color: #fff;
    color: #000;
    box-shadow: 2.5px 2.5px 0px #999;
  }
  10% {
    color: #fff;
    background-color: #e32;
    box-shadow: 0 0 3px #e32;
  }
  20% {
    color: #fff;
    background-color: #f22;
    box-shadow: 0 0 10px #f22;
  }
  30% {
    color: #fff;
    background-color: #e32;
    box-shadow: 0 0 3px #e32;
  }
  40% {
    color: #fff;
    background-color: #f22;
    box-shadow: 0 0 10px #f22;
  }
  50% {
    color: #fff;
    background-color: #e32;
    box-shadow: 0 0 3px #e32;
  }
  60% {
    color: #fff;
    background-color: #f22;
    box-shadow: 0 0 10px #f22;
  }
  70% {
    color: #fff;
    background-color: #e32;
    box-shadow: 0 0 3px #e32;
  }
  80% {
    color: #fff;
    background-color: #f22;
    box-shadow: 0 0 10px #f22;
  }
  90% {
    color: #fff;
    background-color: #e32;
    box-shadow: 0 0 3px #e32;
  }
  100% {
    background-color: #fff;
    color: #000;
    box-shadow: 2.5px 2.5px 0px #999;
  }
}

li {
  margin-bottom: 6px;
}

.designer-config > * {
  margin: 6px;
}

.config-input {
  max-width: 300px;
  padding: 0px 6px;
  width: 100%;
  font-size: 16px;
  font-family: inherit;
  font-weight: 900;
  border: none;
  border-bottom: 1px solid black;
  background-color: rgba(255, 255, 255, 0.8);
}

.config-label {
    background-color: black;
    color: white;
    padding: 0px 2px;
}

#preview-loading {
  position: fixed;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
}

.choose-alias {
  font-size: 24px;
}

.choose-alias > input {
  padding: 0px 6px;
  width: 100%;
  font-size: 24px;
  font-family: inherit;
  font-weight: 900;
  border: none;
  background-color: rgba(0, 0, 0, 0.05);
}
.choose-alias-container {
  padding: 20px 50px;
}

#start-registering {
  margin: 0 auto;
}

#confirm-dialog {
    position: fixed;
    padding: 10px 20px;
    border-radius: 2px;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    box-shadow: 2.5px 2.5px 0px rgba(0,0,0,0.5);
    background-color: #eee;
 }

.stripe-bg {
    background-image: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 5px,
    rgba(255, 255, 255, 0.25) 5px,
    rgba(255, 255, 255, 0.25) 10px
  );
}

.settings-btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.judge-graphic {
    max-height: 50vh;
    margin: auto 20px;
}

.judge-content {
    margin: auto 20px;
}

.judge-buttons {
    margin-top: 20px;
}
